@import '/src/style/vars';

.quote__wrapper {
    padding: 20px;
    background: $lightBlack;

    .quote__text {
        font-family: var(--font-quattrocento);
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: $white;
        margin-bottom: 35px;
    }

    .quote__title {
        color: $white;
        text-align: right;
    }
}