@import '/src/style/vars';

.article__card {
    width: 277px;
    cursor: pointer;
    transition: opacity, 0.8s ease;

    .card__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    
        .card__contentTag {
            font-size: 14px;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 3%;
        }
        
        .card__contentTitle {
            color: $primary;
            padding-bottom: 15px;
            border-bottom: 1px solid $lightGrey;
        }
    
        .card__contentInfo {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    } 
    
    &:hover {
        opacity: 0.5;
    }
}

