.popular__section {
    .big__cards {
        width: 100%;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 30px;
    }

    @media(max-width: 1250px) {
        .big__cards {
            grid-template-columns: repeat(1, 1fr);
        }   
    }
}