@import '_vars';

html {
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    color: $lightGrey;
    font-family: var(--font-inter);
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: var(--font-quattrocento);
    font-weight: 400;
    font-size: 90px;
    line-height: 120%;
    color: $primary;

    @media(max-width: 1000px) {
        font-size: 70px;
    }

    @media(max-width: 768px) {
        font-size: 60px;
    }
}

h2 {
    font-family: var(--font-quattrocento);
    font-weight: 400;
    font-size: 70px;
    line-height: 120%;
    color: $primary;
}

h3 {
    font-family: var(--font-quattrocento);
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    color: $white;
}

h4 {
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
}