html {
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    color: $lightGrey;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}