// Colors 
$black: #1D1D1D;
$lightBlack: #262626;
$white: #FFFFFF;
$lightGrey: #D9D9D9;
$primary: #FFC55E;

// Fonts 
// https://habr.com/ru/companies/timeweb/articles/810055/#%D1%88%D1%80%D0%B8%D1%84%D1%82%D1%8B
