@import '/src/style/vars';

.headline__wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .headline__divider {
        border: 1px solid $lightGrey;
        width: 100%;
    }

    @media(max-width: 1000px) {
        width: 100%;
    }
}