@import '/src/style/vars';

.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}

.rounded {
  border-radius: 20px;
}

.image {
  object-fit: cover;
}